@font-face {
    font-family: "Alinur Binoy";
    src: url("./Fonts/Li Alinur Binoy Unicode.ttf");
}

@font-face {
    font-family: "Alinur Ichamati";
    src: url("./Fonts/Li Alinur Ichamati Unicode.ttf");
}

@font-face {
    font-family: "Alinur Snigdha";
    src: url("./Fonts/Li Alinur Snigdha Unicode.ttf");
}

@font-face {
    font-family: "Alinur Tumatul";
    src: url("./Fonts/Li Alinur Tumatul Unicode.ttf");
}

@font-face {
    font-family: "Alinur Ullas";
    src: url("./Fonts/Li Alinur Ullas Unicode.ttf");
}

@font-face {
    font-family: "Hasan Protilipi";
    src: url("./Fonts/Li Hasan Protilipi Unicode.ttf");
}

@font-face {
    font-family: "Mahfuz Himadri";
    src: url("./Fonts/Li Mahfuz Himadri Unicode.ttf");
}

@font-face {
    font-family: "Mainak Buniyadi";
    src: url("./Fonts/Li Mainak Buniyadi Unicode.ttf");
}

@font-face {
    font-family: "Manowar Matribhumi";
    src: url("./Fonts/Li Manowar Matribhumi Unicode.ttf");
}

@font-face {
    font-family: "Mayukh";
    src: url("./Fonts/Li Mayukh Unicode.ttf");
}

@font-face {
    font-family: "Priyasha Bharot";
    src: url("./Fonts/Li Priyasha Bharot Unicode.ttf");
}

@font-face {
    font-family: "Sabbir Ashalota";
    src: url("./Fonts/Li Sabbir Ashalota 1 Unicode.ttf");
}

@font-face {
    font-family: "SK Bishal";
    src: url("./Fonts/Li SK Bishal Unicode.ttf");
}

@font-face {
    font-family: "Suparna";
    src: url("./Fonts/Li Suparna Unicode.ttf");
}

@font-face {
    font-family: "Sweet Shreyam";
    src: url("./Fonts/Li Sweet Shreyam Unicode.ttf");
}

@font-face {
    font-family: "Ador Noirrit";
    src: url("./Fonts/LiAdorNoirritVR-VF.ttf");
}

@font-face {
    font-family: "Bhasa 52";
    src: url("./Fonts/LiBhasa52Unicode-Regular.ttf");
}

@font-face {
    font-family: "Padmarag";
    src: url("./Fonts/LiPadmaragUnicode-Regular.ttf");
}

@font-face {
    font-family: "Shadhinata";
    src: url("./Fonts/Li Shadhinata 2.0 Unicode.ttf");
}

@font-face {
    font-family: "Shohid Abu Sayed";
    src: url("./Fonts/Li Shohid Abu Sayed Unicode.ttf");
}

@font-face {
    font-family: "Alinur Tumatul";
    src: url("./Fonts/Li Alinur Tumatul Unicode.ttf");
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

h2 {
    color: #505050;
    margin-top: 0;
}

h3 {
    margin: 0;
    color: #505050;
}

select {
    padding: 2px;
}

button {
    padding: 1rem;
}

.font-choose * {
    font-size: 1.2rem;
}

.font-choose-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 1px dashed #acacac;
    border-bottom: 1px dashed #acacac;
}

.font-choose {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 5rem;
    width: 40%;
}

.font-dispaly-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35rem;
}

.font-display-area {
    height: 32rem;
    width: 80%;
}

#font-display {
    font-family: Arial;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    resize: none;
}
